<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>690921780840-vogrn0c58q63t4c61o32a3eb0nck04f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690921780840-vogrn0c58q63t4c61o32a3eb0nck04f4</string>
	<key>API_KEY</key>
	<string>AIzaSyAa0J3zegZCgLcQ59wwt_wF8Cq9k29JySU</string>
	<key>GCM_SENDER_ID</key>
	<string>690921780840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ding.HMS-Express</string>
	<key>PROJECT_ID</key>
	<string>hms-ex</string>
	<key>STORAGE_BUCKET</key>
	<string>hms-ex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690921780840:ios:095b1ffae857b861</string>
	<key>DATABASE_URL</key>
	<string>https://hms-ex.firebaseio.com</string>
</dict>
</plist>